# k-anonymity
In this you will practice exploring and linking various Fake datasets and try to de-identify and re-identify owners of records. Think about an attackers who wants to gain as much information as possible. The attacker may want to ask for money based on the value of the information found about each person.

## Datasets
There are four datasets:
1. income.csv: It is the dataset that an imaginary tax-related organization has about its clients.
2. ip.csv: This is a simple example of an internet provider company (e.g. Shaw)
3. hospital.csv: The dataset by an insurance company that provides insurance for travellers.
4. creditcard.csv: A third party organization for credit checks.

### Load the datasets
Load each dataset as a separate dataframe and explore the data.

In [181]:
import pandas as pd
credit_card = pd.read_csv("creditcard.csv")
hospital = pd.read_csv("hospital.csv")
income = pd.read_csv("income.csv")
ip = pd.read_csv("ip.csv")

### De-identification
For each dataset, justify your answers for the columns as each being: 
1. explicit identifier
2. quasi identifiers
3. sensitive data
4. other

### credit_card
* name -> explicit identifier because it is unique and directly identify a person
* lastname -> explicit identifier because it is unique and directly identify a person
* DOB -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity.
* postal_code -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity. 
* credit_number -> explicit identifier because it is unique and directly identify a person
* credit_provider -> other because this is not a sensitive information
* credit_security_code -> sensitive data because this number is uniquely linked with credit card number, so the researchers may need this.

### hospital
* name -> explicit identifier because it is unique and directly identify a person
* lastname -> explicit identifier because it is unique and directly identify a person
* DOB -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity. 
* last_food -> other because this is like an extra information
* medical reason -> sensitive data because this attribute is in hospital dataset, so the researchers need this information.



### income
* name -> explicit identifier because it is unique and directly identify a person
* lastname -> explicit identifier because it is unique and directly identify a person
* ID -> explicit identifier because some people may use their fullname as user Id, and we want to consider the worst case. So this is unique and directly identify a person. 
* DOB -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity. 
* postal_code -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity. 
* color -> other because this is not a sensitive information
* companies -> sensitive data because this attribute is in income dataset, so the researchers may need this information.
* income -> sensitive data because this attribute is in income dataset, so the researchers may also need this information.

### ip
* name -> explicit identifier because it is unique and directly identify a person
* lastname -> explicit identifier because it is unique and directly identify a person
* DOB -> quasi identifiers because this type of information cannot be used alone to determine an individual’s identity. 
* ip_address -> sensitive data because this attribute is in ip dataset, so the researchers need this information.
* location -> explicit identifier because it is unique and directly identify a person based on addresses

#### anonymize data by removing explicit identifiers for each dataset

In [182]:
credit_card1 = credit_card.drop(["name","lastname","credit_number"], axis=1)
hospital1 = hospital.drop(["name","lastname"],axis=1)
income1 = income.drop(["name","lastname","ID"],axis=1)
ip1 = ip.drop(["name","lastname","location"],axis=1)

### Re-identification by linking
Try to link the records from the datasets and re-identify the records. Notice that you might only get matching information about a record not specifically identify the individuals.

In [183]:
df = pd.merge(credit_card1,hospital1, how="inner", on = "DOB")
df = pd.merge(df, income1, how="inner", on = "DOB")
df = pd.merge(df, ip1, how="inner", on = "DOB")
df

,DOB,postal_code_x,credit_provider,credit_security_code,last_food,medical reason,postal_code_y,color,companies,income,ip_address
0,1990-10-13,92310,VISA 13 digit,8,banana,back pain,92310,DarkBlue,Joseph-Burns,120000,192.0.8.93
1,2000-03-21,73196,Discover,644,apple,flue,73196,SeaShell,Nguyen PLC,70000,203.48.10.235
2,1992-03-19,86372,JCB 16 digit,542,steak,vomiting,86372,Bisque,Byrd-Walton,223546,198.51.98.53
3,1945-04-02,19557,Maestro,454,coffee,fever,19557,LightYellow,Pena Group,62345,192.160.182.167
4,1983-11-25,94306,JCB 16 digit,297,mocha,cancer,94306,DarkSlateBlue,Schneider Inc,146098,213.43.91.75
5,1951-02-14,29648,American Express,188,strawberry,cold,29648,LightBlue,Ferguson Group,56000,192.29.160.209
6,1949-02-24,10124,VISA 16 digit,565,apple,knee problem,10124,Fuchsia,"Martin, Alvarez and Young",231456,198.51.2.188
7,1947-01-31,78788,American Express,76,gala,accident,78788,OrangeRed,"Burns, Michael and Collins",210900,198.58.178.92
8,1958-10-26,77075,JCB 16 digit,445,chicken,flue,77075,MediumAquaMarine,"Miller, Hanson and Roberts",93567,203.3.238.205
9,1983-12-17,82698,VISA 19 digit,368,chickenpie,injury,82698,IndianRed,Freeman-Perry,90000,192.52.207.100
10,1988-06-26,34763,VISA 13 digit,259,pasta,follow up,34763,DarkGray,Cabrera-Schneider,212500,192.88.98.113
11,1949-10-05,34575,VISA 16 digit,800,beans soup,ear infection,34575,LightSalmon,"Garcia, Barker and Kim",43000,100.38.177.193
12,1965-09-06,10764,VISA 16 digit,252,steak,chicken pox,10764,Yellow,"Weber, Brown and Brooks",125000,203.16.148.93
13,1989-03-12,11422,VISA 16 digit,890,chickenpie,injury,11422,MediumVioletRed,Dickerson Group,220000,198.54.105.251
14,1998-11-05,13635,VISA 16 digit,122,fish,vomiting,13635,LightCoral,"Andrews, Martinez and Thompson",110000,216.114.85.197
15,1972-09-09,68619,JCB 16 digit,557,salmon,cold,68619,DarkOrchid,"Murphy, Martinez and Jones",2000000,192.31.67.82
16,1975-12-20,27431,VISA 19 digit,17,apple,fever,27431,LightSteelBlue,"Smith, Graham and Smith",122000,192.58.175.42
17,1926-02-28,40208,VISA 19 digit,845,coffee,cold,40208,LightSalmon,Evans LLC,56000,203.83.230.138
18,1983-10-14,15924,Maestro,1,mocha,cancer,15924,Blue,Jones-Ortiz,75000,92.212.215.243
19,1993-09-20,29965,Maestro,530,cookie,blood work,29965,Plum,"Andrews, Ruiz and Dunn",89000,169.248.164.224

<font color='red'>Since every row is unique, I can identify every individual</font>

### Anonymize 
Anonymize the income and credit card datasets. Use Generalization or Supression methods on postal code.

In [184]:
from datetime import datetime

def anonymize_postal(df):
    if df["postal_code"]>0 and df["postal_code"]<=33333:
        return "[0,33333]"
    elif df["postal_code"]>333333 and df["postal_code"]<=66666:
        return "(33333,66666]"
    else:
        return "(66666,99999]"

def anonymize_DOB(df):
    if df["DOB"]>=1900 and df["DOB"]<1950:
        return "[1900, 1950)"
    else:
        return "[1950, 2000]"

In [185]:
credit_card1['postal_code'] = credit_card1.apply(anonymize_postal, axis=1)
income1["postal_code"] = income1.apply(anonymize_postal, axis=1)

In [186]:
credit_card1["DOB"] = pd.to_datetime(credit_card1["DOB"]).apply(lambda x: x.strftime('%Y')).astype(int)
income1["DOB"] = pd.to_datetime(income1["DOB"]).apply(lambda x: x.strftime('%Y')).astype(int)

In [187]:
credit_card1["DOB"] = credit_card1.apply(anonymize_DOB, axis=1)
income1["DOB"] = income1.apply(anonymize_DOB, axis=1)

In [188]:
#### Question: Is it k-anonymized? 
What is the maximum k that you can make each of the credit car or income datasets k-anonymized?

Object `anonymized` not found.

In [189]:
credit_card1[["DOB","postal_code"]].value_counts()

DOB           postal_code
[1950, 2000]  (66666,99999]    8
              [0,33333]        7
[1900, 1950)  (66666,99999]    3
              [0,33333]        2
dtype: int64

In [190]:
income1[["DOB","postal_code"]].value_counts()

DOB           postal_code
[1950, 2000]  (66666,99999]    8
              [0,33333]        7
[1900, 1950)  (66666,99999]    3
              [0,33333]        2
dtype: int64

<font color='red'>This is k-anonymized and the maximum k I can make is 2 and QI = {DOB, Postal_code}</font>

#### Question: Does it need l-diversity?

In [191]:
credit_card1

             DOB    postal_code   credit_provider  credit_security_code
0   [1950, 2000]  (66666,99999]     VISA 13 digit                     8
1   [1950, 2000]  (66666,99999]          Discover                   644
2   [1950, 2000]  (66666,99999]      JCB 16 digit                   542
3   [1900, 1950)      [0,33333]           Maestro                   454
4   [1950, 2000]  (66666,99999]      JCB 16 digit                   297
5   [1950, 2000]      [0,33333]  American Express                   188
6   [1900, 1950)      [0,33333]     VISA 16 digit                   565
7   [1900, 1950)  (66666,99999]  American Express                    76
8   [1950, 2000]  (66666,99999]      JCB 16 digit                   445
9   [1950, 2000]  (66666,99999]     VISA 19 digit                   368
10  [1950, 2000]  (66666,99999]     VISA 13 digit                   259
11  [1900, 1950)  (66666,99999]     VISA 16 digit                   800
12  [1950, 2000]      [0,33333]     VISA 16 digit                   252
13  [1950, 2000]      [0,33333]     VISA 16 digit                   890
14  [1950, 2000]      [0,33333]     VISA 16 digit                   122
15  [1950, 2000]  (66666,99999]      JCB 16 digit                   557
16  [1950, 2000]      [0,33333]     VISA 19 digit                    17
17  [1900, 1950)  (66666,99999]     VISA 19 digit                   845
18  [1950, 2000]      [0,33333]           Maestro                     1
19  [1950, 2000]      [0,33333]           Maestro                   530

<font color='red'>Dataset credit_card does not need l-diversity because credit_security_code can uniquely identify every individual</font>

In [192]:
income1.sort_values(["DOB","postal_code"])

,DOB,postal_code,color,companies,income
7,"[1900, 1950)","(66666,99999]",OrangeRed,"Burns, Michael and Collins",210900
11,"[1900, 1950)","(66666,99999]",LightSalmon,"Garcia, Barker and Kim",43000
17,"[1900, 1950)","(66666,99999]",LightSalmon,Evans LLC,56000
3,"[1900, 1950)","[0,33333]",LightYellow,Pena Group,62345
6,"[1900, 1950)","[0,33333]",Fuchsia,"Martin, Alvarez and Young",231456
0,"[1950, 2000]","(66666,99999]",DarkBlue,Joseph-Burns,120000
1,"[1950, 2000]","(66666,99999]",SeaShell,Nguyen PLC,70000
2,"[1950, 2000]","(66666,99999]",Bisque,Byrd-Walton,223546
4,"[1950, 2000]","(66666,99999]",DarkSlateBlue,Schneider Inc,146098
8,"[1950, 2000]","(66666,99999]",MediumAquaMarine,"Miller, Hanson and Roberts",93567
9,"[1950, 2000]","(66666,99999]",IndianRed,Freeman-Perry,90000
10,"[1950, 2000]","(66666,99999]",DarkGray,Cabrera-Schneider,212500
15,"[1950, 2000]","(66666,99999]",DarkOrchid,"Murphy, Martinez and Jones",2000000
5,"[1950, 2000]","[0,33333]",LightBlue,Ferguson Group,56000
12,"[1950, 2000]","[0,33333]",Yellow,"Weber, Brown and Brooks",125000
13,"[1950, 2000]","[0,33333]",MediumVioletRed,Dickerson Group,220000
14,"[1950, 2000]","[0,33333]",LightCoral,"Andrews, Martinez and Thompson",110000
16,"[1950, 2000]","[0,33333]",LightSteelBlue,"Smith, Graham and Smith",122000
18,"[1950, 2000]","[0,33333]",Blue,Jones-Ortiz,75000
19,"[1950, 2000]","[0,33333]",Plum,"Andrews, Ruiz and Dunn",89000

<font color='red'>Dataset income does not need l-diversity because both companies and income can uniquely identify every individual</font>

### Try relocating the credit cards
Try finding out the location of the credit card holders by linking the dataset to the ip dataset. What do you find?

In [193]:
ip1["DOB"] = pd.to_datetime(ip1["DOB"]).apply(lambda x: x.strftime('%Y')).astype(int)
ip1["DOB"] = ip1.apply(anonymize_DOB, axis=1)
cc_ip_merge = pd.merge(credit_card1,ip1, how="inner", on = "DOB")

In [194]:
cc_ip_merge

,DOB,postal_code,credit_provider,credit_security_code,ip_address
0,"[1950, 2000]","(66666,99999]",VISA 13 digit,8,192.0.8.93
1,"[1950, 2000]","(66666,99999]",VISA 13 digit,8,203.48.10.235
2,"[1950, 2000]","(66666,99999]",VISA 13 digit,8,198.51.98.53
3,"[1950, 2000]","(66666,99999]",VISA 13 digit,8,213.43.91.75
4,"[1950, 2000]","(66666,99999]",VISA 13 digit,8,192.29.160.209
...,...,...,...,...,...
245,"[1950, 2000]","[0,33333]",Maestro,530,216.114.85.197
246,"[1950, 2000]","[0,33333]",Maestro,530,192.31.67.82
247,"[1950, 2000]","[0,33333]",Maestro,530,192.58.175.42
248,"[1950, 2000]","[0,33333]",Maestro,530,92.212.215.243
249,"[1950, 2000]","[0,33333]",Maestro,530,169.248.164.224

<font color='red'>I cannot find the location of the credit card holders by linking the dataset to ip dataset. This is because when merging one anonymized dataset with an un-anonymized dataset, the merged dataset will be expanded with a lot of noise which prevent the ability to re-link that data</font>